@media (max-width: 767px){
	.input-search{
		width: 290px;
	}
	.box-count-cart{
		margin-top: 10px;
	}
	.box-shopping-cart{
		float:right;
	}
	.list-product-item .item img{
	    width: 100%;
	    height: 130px;
	}
	.input-news-letter{
		width: 73%;
	}
	.btn-newsletter{
		width: 26%;
		font-size: 13px;
		text-transform: unset;
	}
	.menu{
		margin-top: 20px;
	}
}
@media (min-width: 768px) {
	
}
@media (min-width: 768px) and (max-width: 999px){
	.menu{
		margin-top: 20px;
	}
}
@media (min-width: 1000px) {
	
}
@media (min-width: 1200px){
	
}
